{{#each}}
<article>
  <div class="table">
    {{#link-to "profile" username}}<img {{bind-attr src=photo alt=name}}>{{/link-to}}
    <div class="text">
      <h4 class="author">{{#link-to "profile" username}}{{name}}{{/link-to}}</h4>     
    </div>
  </div>
</article>
{{/each}}
