{{#each}}
<article>
  {{#link-to "profile" this}}<img {{bind-attr src=photo alt=name}}>{{/link-to}}
  <div class="text">
    <h4 class="author">{{#link-to "profile" this}}{{name}}{{/link-to}}</h4>
    
  </div>
</article>
{{/each}}