@font-family: 'Open Sans', sans-serif;
@line-height: 1.5;
@account-bg-color: #008cb8;
@account-h3-size: 22px;
@account-text-color: #000;
@account-font-size: 13px;
@account-border-color: #eee;
@blue-btn-color: #0084b2;