<h3>Create your account</h3>
<form>
    {{input id="name" type="text" value=name placeholder="Enter your name ..."}}
    {{input id="username" type="text" value=username placeholder="Enter your username ..."}}
    {{input id="password" type="password" value=password placeholder="Enter your password ..."}}
    <div class="account-links">
      <button {{action "signUp"}} class="blue-btn">Sign up</button>
    <div class="misc-links">{{#link-to "account.login"}}Login{{/link-to}}</div>
  </div>
</form>
