<div class="account create bg">
  <div class="main">
    <div class="col-first-half">
      <h1>{{#link-to "account.index"}}<img class="img-responsive" src="/assets/images/telegram-logo.png" alt="Know what's happening - Telegram">{{/link-to}}</h1>
    </div>
    <div class="col-second-half">
      {{outlet}}
    </div>
  </div>
</div>
