<header>
	<div class="content">
		<div class="home">Home</div>
		<h1><img src="/assets/images/logo.png" alt="Telegram"></h1>
		<div class="user">Cristian Strat</div>
	</div>
</header>
<div class="dashboard main">
	<input type="text" id="post" value=body placeholder="Write a new post">
	<p class="character-count">140 characters</p>
	<button class="gray-btn">Publish</button>
	<hr>
	<h3>Latest posts</h3>
	<hr>
	<article>
		<img src="http://placehold.it/100" alt="">
		<div class="text">
			<h4 class="author">John Maeda</h4>
			<p class="body">Ponies enhance cognition. To be safe around horses you must stay focused, alert, aware, and never forget that they can kick your ass.</p>
			<p class="misc"><span class="time">2 minutes ago</span> &#183; <a href="#" class="delete">Delete</a></p>
		</div>
	</article>
	<article>
		<img src="http://placehold.it/100" alt="">
		<div class="text">
			<h4 class="author">Clarke Wolfe</h4>
			<p class="body">Listen, I don&rsquo;t want to brag about my awesome #gaming skills but someone made it into an @IGN article today...</p>
			<p class="misc"><span class="time">5 minutes ago</span> &#183; <a href="#" class="delete">Delete</a></p>
		</div>
	</article>
	<article>
		<img src="http://placehold.it/100" alt="">
		<div class="text">
			<h4 class="author">Fast Company</h4>
			<p class="body">This app is like a remote control for your credit cards: <a href="http://f-st.co/OXzg2eEw">http://f-st.co/OXzg2eEw</a> <a href="pic.twitter.com/eAL1sdVhrh">pic.twitter.com/eAL1sdVhrh</a></p>
			<p class="misc"><span class="time">7 minutes ago</span> &#183; <a href="#" class="delete">Delete</a></p>
		</div>
	</article>
	<article>
		<img src="http://placehold.it/100" alt="">
		<div class="text">
			<h4 class="author">Fast Company</h4>
			<p class="body">Leica celebrates 100 years with a georgeously minimalist shooter that pays homage to its first <a href="http://wrd.cm/1ieFplL">http://wrd.cm/1ieFplL</a> <a href="http://pic.twitter.com/SNvy9PGZwc">pic.twitter.com/SNvy9PGZwc</a></p>
			<p class="misc"><span class="time">8 minutes ago</span> &#183; <a href="#" class="delete">Delete</a></p>
		</div>
	</article>
</div>