<header>
	<div class="content">
		<a href="/dashboard" class="home"><img src="/assets/images/home-icon.png" alt="Home Icon">Home</a>
		<h1><a href="/dashboard"><img src="/assets/images/telegram-logo-2.png" alt="Telegram"></a></h1>
		<a href="#" class="user"><img src="http://placehold.it/30" alt="">Cristian Strat</a>
	</div>
</header>
<div class="dashboard main">
	<div class="post-ui">
		<input type="text" id="post" name=body placeholder="Write a new post">
		<p class="character-count">140 characters</p>
		<button class="gray-btn">Publish</button>
	</div>
	<hr>
	<h3>Latest posts</h3>
	<hr>
	<article>
		<img src="http://placehold.it/50" alt="">
		<div class="text">
			<h4 class="author"><a href="#">John Maeda</a></h4>
			<p class="body">Great teams constantly learn and re-learn how to move from the ego of *I* to the ego of *WE*.</p>
			<p class="misc"><span class="time">2 minutes ago</span> &#183; <a href="#" class="delete">Delete</a></p>
		</div>
	</article>
	<hr>
	<article>
		<img src="http://placehold.it/50" alt="">
		<div class="text">
			<h4 class="author"><a href="#">Clarke Wolfe</a></h4>
			<p class="body">Listen, I don&rsquo;t want to brag about my awesome #gaming skills but someone made it into an @IGN article today...</p>
			<p class="misc"><span class="time">5 minutes ago</span> &#183; <a href="#" class="delete">Delete</a></p>
		</div>
	</article>
	<hr>
	<article>
		<img src="http://placehold.it/50" alt="">
		<div class="text">
			<h4 class="author"><a href="#">Fast Company</a></h4>
			<p class="body">This app is like a remote control for your credit cards: <a href="http://f-st.co/OXzg2eEw">http://f-st.co/OXzg2eEw</a> <a href="pic.twitter.com/eAL1sdVhrh">pic.twitter.com/eAL1sdVhrh</a></p>
			<p class="misc"><span class="time">7 minutes ago</span> &#183; <a href="#" class="delete">Delete</a></p>
		</div>
	</article>
	<hr>
	<article>
		<img src="http://placehold.it/50" alt="">
		<div class="text">
			<h4 class="author"><a href="#">Fast Company</a></h4>
			<p class="body">Leica celebrates 100 years with a georgeously minimalist shooter that pays homage to its first <a href="http://wrd.cm/1ieFplL">http://wrd.cm/1ieFplL</a> <a href="http://pic.twitter.com/SNvy9PGZwc">pic.twitter.com/SNvy9PGZwc</a></p>
			<p class="misc"><span class="time">8 minutes ago</span> &#183; <a href="#" class="delete">Delete</a></p>
		</div>
	</article>
	<hr>
</div>