<header>
  <div class="content">
  {{#if session.user}}
    {{#link-to "dashboard" class="home"}}<img src="/assets/images/home-icon.png" alt="Home Icon">Home{{/link-to}}
  {{/if}}
    <h1>{{#link-to "dashboard"}}<img src="/assets/images/telegram-logo-2.png" alt="Telegram">{{/link-to}}</h1>
  {{#if session.user}}
    {{#link-to "profile" session.user class="user"}}<img {{bind-attr src=session.user.photo alt=session.user.name}}>{{session.user.name}}{{/link-to}}
  {{/if}}
  </div>
</header>