<div class="account login main clearfix">
	<div class="col-first-half">
		<h1><a href="/"><img class="img-responsive" src="/assets/images/telegram-logo.png" alt="Know what's happening - Telegram"></a></h1>
	</div>
	<div class="col-second-half">
		<h3>Get going ...</h3>
		<form action="#" method="post">
			<input id="username" type="text" name="username" placeholder="Enter your username ...">
			<input id="password" type="password" name="password" placeholder="Enter your password ...">
			<div class="account-links clearfix">
				<button class="blue-btn" type="submit">Log in</button>
			    <div class="misc-links"><a href="/reset">Recover password</a> or <a href="/">Sign up</a></p></div>
		</form>
	</div>
</div>
