<div class="account login main clearfix">
	<div class="col-first-half">
		<h1><a href="/"><img class="img-responsive" src="/assets/images/telegram-logo.png" alt="Know what's happening - Telegram"></a></h1>
	</div>
	<div class="col-second-half">
		<h3>Check your inbox!</h3>
		<p>We&rsquo;ve sent you a recovery password in your email inbox.</p>
	</div>
</div>
